
body{
    background:#eef2f7;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:80px;
}

.custom-navbar{
    background:#0f172a;
}
.brand{
    font-weight:700;
    font-size:22px;
    color:white !important;
}

.invoice-box{
    background:white;
    max-width:850px;
    margin:auto;
    padding:40px;
    border-radius:10px;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
}

.invoice-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.company{
    font-size:28px;
    font-weight:bold;
    color:#2563eb;
}

.meta{
    text-align:right;
    font-size:14px;
}

.table th{
    background:#f1f5f9;
}

.total{
    text-align:right;
    font-size:22px;
    font-weight:bold;
    margin-top:20px;
}

@media print{

    nav,
    .no-print{
        display:none !important;
    }

    body{
        background:white;
        padding:0;
    }

    .invoice-box{
        box-shadow:none;
        border:none;
        margin:0;
        padding:0;
    }
}

